# Don't remove the quotation marks

[user]
	name = "Stevie Howard"
	email = "Stevie.Howard@microsoft.com"

[github]
	user = stvhwrd

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	ui = auto
